- name: Link shared .env
  file:
    src: "{{ shared_path }}/.env"
    dest: "{{ releases_path }}/{{ release_name }}/.env"
    state: link

- name: Link storage
  file:
    src: "{{ shared_path }}/storage"
    dest: "{{ releases_path }}/{{ release_name }}/storage"
    state: link

- name: Install composer dependencies
  command: >
    composer install
    --no-dev
    --no-interaction
    --prefer-dist
    --optimize-autoloader
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"

- name: Clear & cache config
  command: php artisan config:clear
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"

- name: Cache config
  command: php artisan config:cache
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"

- name: Cache routes
  command: php artisan route:cache
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"

- name: Cache views
  command: php artisan view:cache
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"

- name: Run migrations
  command: php artisan migrate --force
  args:
    chdir: "{{ releases_path }}/{{ release_name }}"
