- block:
    - import_tasks: release.yml

    - import_tasks: laravel.yml
      when: is_laravel | bool

    - import_tasks: symlink.yml

  rescue:
    - import_tasks: rollback.yml

  always:
    - name: Mark deployment finished
      debug:
        msg: "Deployment block finished"
