- name: Find previous release
  shell: |
    ls -dt {{ releases_path }}/* | sed -n '2p'
  register: previous_release
  changed_when: false
  failed_when: false

- name: Rollback current symlink
  file:
    src: "{{ previous_release.stdout }}"
    dest: "{{ current_path }}"
    state: link
    force: yes
  when: previous_release.stdout != ""
